*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color:  rgb(192, 192, 189);
}

.header{
    background-color: rgb(192, 192, 189);
    width: 100%;
    

}

.header .main-nav{
    height: 90px;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;

}


.header .main-nav .nav-logo img{
    height: 80px;
}

.header .main-nav .nav-headings {
padding-right: 400px;
}


.header .main-nav .nav-headings a{
   text-decoration: none;
   color: black;
   margin-left: 20px;
   font-size: 18px;
   font-weight: 500;
 
}






.header .main-nav .nav-icons{
margin-right: 9px;
}

.header .main-nav .nav-icons a {
    margin-right: 22px;
    
    }
    
    .header .main-nav .nav-icons a i{
       color: black;
       font-size: 18px;
        }
        

.main {
    display: flex;
    padding: 100px;
    height: 900px;
    width: 100%;
}

.left-container {
height: 400px;
width: 70%;
}


.left-container h5{
    font-size: 20px;
    color: rgb(79, 79, 78);
    margin-bottom: 20px;
    }
    
    .left-container h1{
        font-size: 55px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 30px;
        }

        .left-container p{
            font-size: 15px;
        width: 70% ;
            margin-bottom: 10px;
            }
            .left-container button{
                background-color: black;
                color: white;
                padding: 10px 25px;
                margin: 30px 0px;
                border: 0;
                outline: 0;
                border-radius: 40px;
                border-top-left-radius: 0;
            }

           .right-container{
                height: 100%;
                width: 100%;
                padding: 40px 60px;
                display: grid;
                gap: 10px;
                overflow-x: auto;
            
           }
           .content{
            display: flex;
            width: 100%;
            height: 100%;

           }
           
               .cart{
                height: 60%;
                width: 200px;
                background-color: #b5bab5;
                position: relative;
                box-shadow: 0 5px 10px rgba(17, 0, 17, 0.3);
               margin: 0 14px;
               

               }

               .cart a{
                text-decoration: none;
                color: black;
               }
               
               .cart a img {
                height: 250px;
                width: 100%;
                padding: 10px;

                
             
               }
               .cart h4{
                padding: 3px 10px;
                font-weight: 600;
               }
               .cart p{
                padding: 3px 10px;
                font-size: 13px;
               }
        
        